/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-shadow {
    text-shadow: 4px 4px 5px rgb(0 0 0 / 60%);
  }
}

@font-face {
    font-family: 'Itim';
    src: url('/subset-Itim-Regular.woff2') format('woff2'),
        url('/subset-Itim-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
